[Unit]
Description=Camcorder Auto-Update Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/camcorder/auto_update.py
User=camcorder
Group=camcorder
WorkingDirectory=/home/camcorder
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
