[Unit]
Description=Raspberry Pi Video Recorder Button Service
After=network.target

[Service]
ExecStart=/bin/bash -lc '/usr/bin/python3 /home/camcorder/record_button.py'
User=camcorder
Group=camcorder
SupplementaryGroups=video audio render
WorkingDirectory=/home/camcorder
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target