[Unit]
Description=Camcorder Web Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/camcorder/web_server.py
User=camcorder
Group=camcorder
WorkingDirectory=/home/camcorder
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
